# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
ENV/

# Local secrets
.env

# Logs
*.log
project-01-portfolio/
project-12-main/.hf-cache/
project-12-main/embedding_cache.npy
project-12-main/enron_spam_data.zip
